---
import Footer from "../../components/Footer.astro";
import Nav from "../../components/Nav.astro";
import { CaretDoubleLeft, CaretDoubleRight } from "phosphor-react";

export async function getStaticPaths({ paginate, rss }) {
  const allPosts = Astro.fetchContent("./*.md").sort(
    (a, b) =>
      new Date(b.publishDate).valueOf() - new Date(a.publishDate).valueOf()
  );

  // Generate an RSS feed from this collection
  rss({
    title: `Vipin Mishra's Blog`,
    stylesheet: true,
    description: "A blog with articles around CSS & Web Design",
    customData: `<language>en-us</language>`,
    items: allPosts.map((item) => ({
      title: item.title,
      description: item.description,
      link: item.url,
      pubDate: item.publishDate,
    })),
  });

  return paginate(allPosts, { pageSize: 5 });
}

const { page } = Astro.props;

// Vars
let title = "Blog | Vipin Mishra";
let metaDescription =
  "I design & develop modern websites with pixel-perfection in mind, love solving complex design problems & have a strong devotion towards CSS";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={metaDescription} />
    <title>{title}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#1270e3" />
    <link async rel="stylesheet" href={Astro.resolve("../../styles/main.scss")} />
  </head>


  <body class="blog-list d-flex flex-column">
    <Nav />

    <main class="blog-posts-list">
      <div class="blog-posts-header text-center">
        <h2 class="headline">Blog</h2>
        <p>
          I try to share my learnings through blog posts and cover topics around
          web-design & development!
        </p>
      </div>
      <!-- Blog list  -->

      <div class="posts-list container py-5 py-lg-7">
        {page.data.map((post) => (
          <div class="post-outer">
            <span class="date">{post.publishDate}</span>
            <h2 class="post-title">
              <a href={post.url}>{post.title}</a>
            </h2>
            <p class="post-description">{post.description}</p>
          </div>
        ))}
      </div>
      <div class="page-meta py-4 mb-5">
        <div
          class="page-meta-inner container d-flex flex-column align-items-center"
        >
          <p class="pages">
            Showing {page.currentPage} of total <b>{page.lastPage}</b> pages.
          </p>

          {(page.url.prev || page.url.next) && (
            <div class="posts-nav mt-4">
              <a
                href={page.url.prev}
                class={`prev ${page.url.prev ? "" : "isDisabled"}`}
              >
                <CaretDoubleLeft size={20} /> Prev
              </a>

              <a
                href={page.url.next}
                class={`next ${page.url.next ? "" : "isDisabled"}`}
              >
                Next <CaretDoubleRight size={20} />
              </a>
            </div>
          )}
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>

<style lang="scss">
  .blog-posts-list {
    flex: 1;
  }
  .blog-posts-header {
    background: var(--gray-2);
    padding-block: var(--size-fluid-4);
    .headline {
      font-weight: 800;
      font-size: var(--font-size-fluid-3);
      margin-bottom: 0.5rem;
    }
    & > p {
      font-size: 0.9rem;
      max-width: 40ch;
      margin-inline: auto;
    }
  }
  .posts-list {
    display: grid;
    grid-gap: 1.75rem;
  }
  .post-outer {
    --border: var(--orange-5);
    padding: var(--size-3);
    border-radius: var(--radius-2);
    border: 1px solid var(--border);
    .date {
      font-size: 0.8rem;
      color: var(--gray-5);
    }
    .post-title {
      font-size: var(--size-4);
      line-height: 1.275;
      margin-block: 0.75rem;
      a {
        &:hover {
          color: var(--accent-dark);
        }
      }
    }
    .post-description {
      font-size: 0.88rem;
      color: var(--gray-7);
    }
    &:nth-child(2) {
      --border: var(--pink-5);
    }
    &:nth-child(3) {
      --border: var(--grape-5);
    }
    &:nth-child(4) {
      --border: var(--violet-5);
    }
    &:nth-child(5) {
      --border: var(--indigo-5);
    }
    &:nth-child(6) {
      --border: var(--blue-5);
    }
    &:nth-child(7) {
      --border: var(--cyan-5);
    }
  }
  .posts-nav {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    a {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      gap: 0.75rem;
      border-radius: var(--radius-2);
      padding: 0.5rem 1rem;
      font-size: 0.88rem;
      font-weight: 600;
      background-color: var(--accent);
      color: #fff;
      svg {
        flex-shrink: 0;
      }
      &:hover {
        background-color: var(--accent-dark);
      }
      &.isDisabled {
        pointer-events: none;
        background: var(--gray-4);
        color: var(--gray-5);
      }
    }
  }
</style>
